@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Stardom";
    src: url("Stardom.ttf");
}

@font-face {
    font-family: "MessinaLight";
    src: url("MessinaSans-Light.ttf");
}

@font-face {
    font-family: "MessinaBold";
    src: url("MessinaSans-Bold.ttf");
}

@font-face {
    font-family: "MessinaRegular";
    src: url("MessinaSans-Regular.ttf");
}

@font-face {
    font-family: "RanadeRegular";
    src: url("Ranade-Regular.ttf");
}

