@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Stardom';
  src: url('/fonts/Stardom.ttf') format('truetype');
}

@font-face {
  font-family: 'MessinaLight';
  src: url('/fonts/MessinaSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MessinaBold';
  src: url('/fonts/MessinaSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MessinaRegular';
  src: url('/fonts/MessinaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RanadeRegular';
  src: url('/fonts/Ranade-Regular.ttf') format('truetype');
}

